<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacientes</title>
    <link rel="stylesheet" href="../public/css/paciente.css">
</head>
<body>
        <header>
        <nav class="nav-bar">
            <div class="logo">
                <img src="../public/images/image.png">
            </div>
            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="index.html" class="nav-link">Monitor</a></li>
                    <li class="nav-item"><a href="cuidado.html" class="nav-link">Cuidados</a></li>
                    <li class="nav-item"><a href="cadastro.html" class="nav-link"><i class="fa-solid fa-circle-user"></i></a></li>
                </ul>
            </div>

        </nav>
    </header>


    <div></div>
    <footer></footer>
    
</body>
</html>